.kso-btn {
  width: 100%;
  background: #50B379;
  border: none;
  height: 34px;
  color: #fff;
  font-size: 14px;
  outline: none;
  font-family: "Microsoft YaHei";
  letter-spacing: 0.4px;
  cursor: pointer;
}
.kso-btn:active {
  opacity: 0.8;
}
.kso-btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.ghost {
  background-color: #ffffff;
  border: 1px solid #50B379;
  color: #50B379;
}
.gray {
  background-color: #ffffff;
  border: 1px solid #a7a7a7;
  color: #696969;
}
::-webkit-scrollbar-track-piece {
  background-color: #F1F1F1;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #d8d8d9;
  border-radius: 10px;
  outline: none;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #c2c2c2;
  border-radius: 10px;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #222226;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  background: #fff;
}
html #app,
body #app {
  height: 100%;
}
input,
textarea {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #888888;
  outline: medium;
}
.select-tip {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 20px 10px;
  box-sizing: border-box;
}
.select-tip span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  float: right;
  background: url(../img/ic_exit_normal.png?v=201806111714) left center no-repeat;
  cursor: pointer;
}
.select-tip p {
  width: 232px;
  margin: auto;
  color: #222226;
  letter-spacing: 0.8px;
  margin-bottom: 9px;
}
.select-tip .select-example-img01 {
  width: 232px;
  height: 101px;
  margin: auto;
  margin-bottom: 22px;
  background: url(../img/image_01.png?v=201806111714) no-repeat;
}
.select-tip .select-example-img02 {
  width: 232px;
  height: 101px;
  margin: auto;
  background: url(../img/image_02.png?v=201806111714) no-repeat;
}
.select-tip .ok-btn {
  width: 232px;
  margin-left: 30px;
  margin-top: 15px;
}
